<%- include('../layout') %>
    <h1>Link Expired</h1>
    <div class="error">This interview link has expired. Interview links are valid for 24 hours after generation. Please contact your HR representative for a new link.</div>
  </div>
</body>
</html>
